# Data Exploration using Pandas

#### This dataset contains details of each match played in IPL from season 2008 to 2016. Each row represents one match.

In [1]:
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv('matches.csv') #<location/filename.csv>
matches.shape

(1095, 20)

In [3]:
# 1. What is the easiest way to view the details of the last match of the dataset?
matches.tail()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [4]:
# 2. Create a slice of this dataframe to only show the details from index 517 to 576 and columns id, season, city 
#and date. Print the output.
matches[517:577][['id','season','city','date']]

         id season           city        date
517  980901   2016         Mumbai  2016-04-09
518  980903   2016        Kolkata  2016-04-10
519  980905   2016     Chandigarh  2016-04-11
520  980907   2016      Bangalore  2016-04-12
521  980909   2016        Kolkata  2016-04-13
522  980911   2016         Rajkot  2016-04-14
523  980913   2016          Delhi  2016-04-15
524  980915   2016      Hyderabad  2016-04-16
525  980917   2016         Mumbai  2016-04-16
526  980919   2016     Chandigarh  2016-04-17
527  980921   2016      Bangalore  2016-04-17
528  980923   2016      Hyderabad  2016-04-18
529  980925   2016     Chandigarh  2016-04-19
530  980927   2016         Mumbai  2016-04-20
531  980929   2016         Rajkot  2016-04-21
532  980931   2016           Pune  2016-04-22
533  980933   2016          Delhi  2016-04-23
534  980935   2016      Hyderabad  2016-04-23
535  980937   2016         Rajkot  2016-04-24
536  980939   2016           Pune  2016-04-24
537  980941   2016     Chandigarh  2016-04-25
538  980943   2016      Hyderabad  2016-04-26
539  980945   2016          Delhi  2016-04-27
540  980947   2016         Mumbai  2016-04-28
541  980949   2016           Pune  2016-04-29
542  980951   2016          Delhi  2016-04-30
543  980953   2016      Hyderabad  2016-04-30
544  980955   2016         Rajkot  2016-05-01
545  980957   2016           Pune  2016-05-01
546  980959   2016      Bangalore  2016-05-02
547  980961   2016         Rajkot  2016-05-03
548  980963   2016        Kolkata  2016-05-04
549  980965   2016          Delhi  2016-05-05
550  980967   2016      Hyderabad  2016-05-06
551  980969   2016      Bangalore  2016-05-07
552  980971   2016     Chandigarh  2016-05-07
553  980973   2016  Visakhapatnam  2016-05-08
554  980975   2016        Kolkata  2016-05-08
555  980977   2016     Chandigarh  2016-05-09
556  980979   2016  Visakhapatnam  2016-05-10
557  980981   2016      Bangalore  2016-05-11
558  980983   2016      Hyderabad  2016-05-12
559  980985   2016  Visakhapatnam  2016-05-13
560  980987   2016      Bangalore  2016-05-14
561  980989   2016        Kolkata  2016-05-14
562  980991   2016     Chandigarh  2016-05-15
563  980993   2016  Visakhapatnam  2016-05-15
564  980995   2016        Kolkata  2016-05-16
565  980997   2016  Visakhapatnam  2016-05-17
566  980999   2016      Bangalore  2016-05-18
567  981001   2016         Kanpur  2016-05-19
568  981003   2016         Raipur  2016-05-20
569  981005   2016  Visakhapatnam  2016-05-21
570  981007   2016         Kanpur  2016-05-21
571  981009   2016        Kolkata  2016-05-22
572  981011   2016         Raipur  2016-05-22
573  981013   2016      Bangalore  2016-05-24
574  981015   2016          Delhi  2016-05-25
575  981017   2016          Delhi  2016-05-27
576  981019   2016      Bangalore  2016-05-29

In [5]:
# 3. The final match of the season 2011 is at the index 247, on what date was the match played?
matches.iloc[247]['date']

'2011-05-28'

In [6]:
# 4. Create a new dataframe called matches_compact which contains only the id, season, date and winner. 
#What is the shape of the matches_compact?
matches_compact = matches[['id','season','date','winner']]
matches_compact.shape

(1095, 4)

In [7]:
# 5. How many matches were played in the year 2010? 
matches[matches['season']==2010].id.count()

np.int64(0)

In [8]:
# 6. How will you find the highest margin of runs by which any team won the match in matches so far? 
#Which team was it and by how many runs did it win?
print("winner team -team name :")
print(matches[matches['win_by_runs']== matches['win_by_runs'].max()]['winner'])
print("winning runs - ")
print(matches[matches['win_by_runs']== matches['win_by_runs'].max()]['win_by_runs'])

winner team -team name :

KeyError: 'win_by_runs'

In [ ]:
# 7. Here is a dictionary of short names for all the team names in the dataset. Create a new dataframe called 
# matches_alias by replacing names in all the columns with long team names.
team_names = {'Kolkata Knight Riders': 'KKR', 
              'Chennai Super Kings': 'CSK', 
              'Rajasthan Royals' : 'RR',
               'Mumbai Indians' : 'MI', 
              'Deccan Chargers' : 'DC', 
              'Kings XI Punjab' : 'KIXP',
               'Royal Challengers Bangalore' : 'RCB', 
              'Delhi Daredevils' : 'DD',
              'Kochi Tuskers Kerala' : 'KTK', 
              'Pune Warriors' : 'PW', 
              'Sunrisers Hyderabad' : 'SRH',
              'Rising Pune Supergiants' : 'RPS', 
              'Gujarat Lions' : 'GL'}
matches_alias = matches.replace({'Kolkata Knight Riders': 'KKR', 
              'Chennai Super Kings': 'CSK', 
              'Rajasthan Royals' : 'RR',
               'Mumbai Indians' : 'MI', 
              'Deccan Chargers' : 'DC', 
              'Kings XI Punjab' : 'KIXP',
               'Royal Challengers Bangalore' : 'RCB', 
              'Delhi Daredevils' : 'DD',
              'Kochi Tuskers Kerala' : 'KTK', 
              'Pune Warriors' : 'PW', 
              'Sunrisers Hyderabad' : 'SRH',
              'Rising Pune Supergiants' : 'RPS', 
              'Gujarat Lions' : 'GL'})
matches_alias.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,KKR,RCB,RCB,field,normal,0,KKR,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,CSK,KIXP,CSK,bat,normal,0,CSK,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,RR,DD,RR,bat,normal,0,DD,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,MI,RCB,MI,bat,normal,0,RCB,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,DC,KKR,DC,bat,normal,0,KKR,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [ ]:
# 8. Find out in which stadium the maximum number of matches have been played and in which stadium minimum? 
# What is the highest and the lowest number? Show the code.
match_by_stadium = dict(matches.groupby('venue').id.count())
print("stadium with max matches:")
print("     "+max(match_by_stadium, key=match_by_stadium.get))
print("stadium with min matches:")
for k,v in match_by_stadium.items():
    if v == min(match_by_stadium.values()):
        print("     "+k)

stadium with max matches:
     M Chinnaswamy Stadium
stadium with min matches:
     Green Park
     Holkar Cricket Stadium
     OUTsurance Oval

In [ ]:
# 9. The following dataframe contains large blocks of NaNs. 
# Fill the NAs with mean only for 2 or less consecutive values of NAs. 
# Refer to the documentation of fillna() to find out the parameter you would use to fill only a certail number of NAs.
# The resulting dataframe should look like df_filled shown below.

df = pd.DataFrame({'val1':[4,np.nan,7,np.nan,np.nan,9,5, np.nan , 1,9,np.nan, np.nan,np.nan, 5, np.nan], 
                    'val2': [ np.nan, 5,7,np.nan, np.nan,8,3,np.nan, 4,np.nan, np.nan, np.nan,np.nan,21,np.nan]})
df.fillna(df.mean(),limit=2,inplace=True)

d = {'val1': {0: 4.0,1: 5.7142857142857144,2: 7.0,3: 5.7142857142857144,4: np.nan,5: 9.0,6: 5.0,7: np.nan,8: 1.0,9: 9.0,10: np.nan,11: np.nan,12: np.nan,13: 5.0,14: np.nan},
'val2': {0: 8.0,1: 5.0,2: 7.0,3: 8.0,4: np.nan,5: 8.0,6: 3.0,7: np.nan,8: 4.0,9: np.nan,10: np.nan,11: np.nan,12: np.nan,13: 21.0,14: np.nan}}

df_filled = pd.DataFrame(d)
df_filled

        val1  val2
0   4.000000   8.0
1   5.714286   5.0
2   7.000000   7.0
3   5.714286   8.0
4        NaN   NaN
5   9.000000   8.0
6   5.000000   3.0
7        NaN   NaN
8   1.000000   4.0
9   9.000000   NaN
10       NaN   NaN
11       NaN   NaN
12       NaN   NaN
13  5.000000  21.0
14       NaN   NaN

In [ ]:
df

        val1  val2
0   4.000000   8.0
1   5.714286   5.0
2   7.000000   7.0
3   5.714286   8.0
4        NaN   NaN
5   9.000000   8.0
6   5.000000   3.0
7        NaN   NaN
8   1.000000   4.0
9   9.000000   NaN
10       NaN   NaN
11       NaN   NaN
12       NaN   NaN
13  5.000000  21.0
14       NaN   NaN

In [ ]:
# 10. For the dataframe given below, 
# Convert the NaN values to zero
# Add a row called diff with the difference between minimum and maximum value in each column. Try solving it using lambda function
# Add a column called diff with the difference between minimum and maximum value in each row. 
# The final df should look like df_final shown below

df = pd.DataFrame({'val1':[9,15,71,9,5], 'val2': [8,31,10, 14,np.nan]})
df.fillna(0,inplace=True)
new_data = df.apply(lambda x: x.max()-x.min())
df.loc['diff'] = new_data

df['diff'] = abs(df['val2']-df['val1'])

df_final = pd.DataFrame({'diff': {0: 1.0, 1: 16.0, 2: 61.0, 3: 5.0, 4: 5.0, 'diff': 35.0},
 'val1': {0: 9.0, 1: 15.0, 2: 71.0, 3: 9.0, 4: 5.0, 'diff': 66.0},
 'val2': {0: 8.0, 1: 31.0, 2: 10.0, 3: 14.0, 4: 0.0, 'diff': 31.0}})


df

      val1  val2  diff
0      9.0   8.0   1.0
1     15.0  31.0  16.0
2     71.0  10.0  61.0
3      9.0  14.0   5.0
4      5.0   0.0   5.0
diff  66.0  31.0  35.0

In [ ]:
df_final

      diff  val1  val2
0      1.0   9.0   8.0
1     16.0  15.0  31.0
2     61.0  71.0  10.0
3      5.0   9.0  14.0
4      5.0   5.0   0.0
diff  35.0  66.0  31.0